.nav {
    justify-content: space-between;
}
.burger-lines{
    display: flex;
    flex-direction: column;
}
.burger {
    width: 50px;
    height: 7px;
    background-color: white;
    margin: 3px;
    border-radius: 1em;
    display:none;
}
@media (max-width: 1210px) {
    .burger{
        display:block;  
    }
    .burger-menu {
        display: block;
    }
    .menu{
        display: none;
    }
    .menu li{
        margin: 10% 5%;
    }
    .faq{
        margin-left:0;
    }
    .show-menu{
        display:inline-block;
        position: absolute;
        right:10%;
        top:10%;
        background-color: rgba(0, 0, 0, 0.842);
        border-radius: 1em;
    }    

}