.nav {
    justify-content: space-between;
}
.burger-menu {
    display: none;
}
.burger {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
}
.menu{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
 
.menu li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

@media (max-width: 1210px) {
    .burger-menu {
        display: block;
    }
 
    .menu{
        display: none;
    }
}