body{
    padding: 0;
    margin:0;
    color:white;
    font-family: 'Montserrat', sans-serif;
}
.ul-reset{
    padding:0;
    margin:0;
    list-style-type:none;
}
img{
    max-width: 100%;
    height:auto;
}
.top{
    background-position: center;
    background-size: cover;
    background: url('https://raw.githubusercontent.com/Standockai/Travel_agency_TimeToTravel/main/img/%D1%82%D0%BE%D0%BA%D0%B8%D0%BE.png') no-repeat center top;
    padding-bottom: 80px;
    margin-bottom: 80px;
}
.header{
    padding:15px 0; 
}
.container{
    width: 100%;
}
.nav{
    align-items: center;
}
.logo{
    width: 65px;
}
.menu{
    display:flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-left:auto;
}
.menu li a{
    list-style-type:none;
    margin-right: 20px;
    text-decoration: none;
}
.menu li a:hover{
    color:greenyellow;
}

.menu a{
    color:white
}
.faq{
    width: 157px;
    height: 44px;
    background-color:rgba(128, 128, 128, 0.377);
    padding: 12px 24px;
    color: white;
    border-radius: 1em;
    margin-left:25px;
}
.about{
    margin-top:463px;
    font-weight: 700;
    font-size: 120px;
    line-height: 75px;
    letter-spacing: 2%;
}
.about h1{
    color:white;
}
.buy{
    margin-top:41px;
}
.dropdown{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:25px;
    padding:40px;
    background-color: rgba(128, 128, 128, 0.377);
    border-radius: 1em;
}
.dropbutton{
    width: 100%;
    height: 100%;
}
.dropdown-select{
    background-color: transparent !important;
    color:white;
    background-image:url('https://raw.githubusercontent.com/Standockai/Travel_agency_TimeToTravel/d8ca38296d3d0896f90b365ca8ec2fc9f6fc542b/img/ep_arrow-down.svg');
    padding-left:10px;
}
.whiteborder{
    background-color: transparent;
    color: white;
    border-radius:8px;
    border:1px solid white;
}
/* Первая страница */
.about-tour-media {
    display: flex;
    color: black;
    gap: 25%;
    margin-bottom: 25%;
}
.about-img {
    position: relative;
}
.japimg{
    border-radius: 1em;
    position: absolute;
    height: 400px;
    width: 350px;
}
.vidos{
    border:2px;
    border-radius:1em;
}
.about-video{
    width: 350px;
    height: 400px;
    position: relative;
    right: 0px;
    top: 200px;
    bottom: 0px;
    left: 150px;
    border-radius: 1em;
    z-index: 1;
    overflow: hidden;
}
.text-about-tour{
    margin: auto 0 auto;
}
.text-about-tour h2{
    font-weight: 800;
    font-size:38px;
}
.text-about-tour p{
    font-weight: 700;
    font-size:16px;
}
.buttontour{
    background-color:#1A3E3E;
    padding: 16px 36px;
    color: white;
    border-radius: 1em;
    text-decoration: none;
    display: inline-block;
}
/* Конец первой страницы */
/* Начало второй страницы */
.about-tour2{
    margin-bottom:120px;
}
.about-tour2-wrapp{
    margin-top: 180px;
    display:flex;
    justify-content: space-between;
    gap:25px;
}
.text-about-tour2{
    color:black;
    margin:auto;
}
.text-list{
    margin-bottom: 25px;
}
.kartinki{
    width: 45px;
    height: 45px;
    margin-right: 15px;
    padding: 10px;
    background-color: #d5d5d5;
    border-radius: 1em;
}
.text-p21{
    display:flex;
    
}
.text-p21:not(:last-child){
   margin-bottom: 10px;
}

.kartinkigrid{
    display:grid;
    grid-template-columns: repeat(2,250px);
    grid-template-rows: repeat(2,250px);
    grid-gap: 10px; 
}
.japanquad1{
    grid-area: 1/1/1/1;
    border-radius: 0 2em;
    width:100%;
    height: 100%;
}
.japanquad2{
    grid-area: 2/1/2/1;
    border-radius: 2em 0;
    width:100%;
    height:100%;
}
.japanquad3{
    grid-area:2/2/1/2;
    border-radius: 2em 0;
    width:100%;
    height: 100%;
}
.japanquad4{
    grid-area:2/2/2/2;
    border-radius: 0 2em;
    width:100%;
    height: 100%;
}
/* Конец второй страницы */
/* Начало третьей страницы */
.tours-subtitle{
    font-size:30px;
    color:rgb(1, 167, 1);
    display:block;
    text-align: center;
}
.tours-title{
    font-size:50px;
    color:black;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.tours-list{
    display: flex;
    justify-content: space-between;
}
.tours-item{
    height:500px;
    width: 32%;
    border-radius: 1em;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    transform: translateY(20px);
    transition: all .2s ease-out;
}
.tours-item:hover{
    transform: translateY(0px);
}
.tours-item:first-child{
    background-image: url('https://raw.githubusercontent.com/Standockai/Travel_agency_TimeToTravel/main/img/Fudjiyamatop1.jpg');
}
.tours-item:nth-child(2){
    background-image: url('https://raw.githubusercontent.com/Standockai/Travel_agency_TimeToTravel/main/img/sakuratop2.jpg');
}
.tours-item:last-child{
    background-image: url('https://raw.githubusercontent.com/Standockai/Travel_agency_TimeToTravel/main/img/tokyotop3.jpg');
}
.tours-rate {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #0000008a;
    position: absolute;
    right: 0;
    top: 40px;
    border-radius: 1em 0 0 1em;
}
.ratingstar {
    width: 25px;
    margin-right: 10px;
}
.tours-rate-count {
    font-weight: 700;
}
.tours-disc{
    margin-top: auto;
    position:relative;
    padding: 15px;
    border-radius: 0 0 1em 1em;
}
.opacity::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:black;
    filter: opacity(70%);
    border-radius: 0 0 1em 1em;
}
.tours-content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.tours-price{
    padding:15px;
    background-color: #1A3E3E;
    border-radius: 1em;
}
.tours-link{
    display:block;
    text-decoration: none;
    color:white;
    background-color:#1A3E3E;
    padding:15px;
    position: relative;
    border-radius: 1em;
    text-align: center;
}
/* Конец третьей страницы */
/* Начало четвертой страницы - блог */
.blog-subtitle{
    font-size:30px;
    color:rgb(1, 167, 1);
    display:block;
    text-align: center;
    margin-top:180px;
}
.blog-title{
    font-size:50px;
    color:black;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.blog-list{
    color:black;
}
.blog-wrap{
    display:flex;
    justify-content: space-between;
    gap:25px;
    margin-top: 20px;
}
.blog-content{
    display:flex;
    border-radius: 1em;
    background-color: #00000017;
}
.blog-img{
    height:300px;
    width: 40%;
    border-radius: 1em;
    margin:15px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.blog-text{
    padding: 15px;
    font-size:16px;
}
.time-read-more{
    display:flex;
    justify-content: space-between;
}
.date{
    color:green;
    font-weight: bold;
}
.read-more{
    color:black;
    text-decoration: none;
}
.read-more:hover{
    color:rgb(5, 201, 5);
}
.blog-button{
    background-color:#1A3E3E;
    padding:20px;
    color: white;
    border-radius: 1em;
    text-decoration: none;
    display:block;
    margin-top:30px;
    text-align: center;
    height:60px;
    width:300px;
    margin-left: auto;
    margin-right:auto;
}
/* Конец четвертой страницы */
/* Начало пятой страницы - блог с фото */
.grid-imgs{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    grid-template-rows: repeat(2,300px);
    gap:5px;
    justify-content: space-evenly;
}
.photo-border{
    border-radius: 1em;
}
.blog-photo-1{
    grid-area:1/3/1/1;
    width:100%;
    height: 100%;
}
.blog-photo-2{
    grid-area:1/3/1/4;
    width: 100%;
    height:100%;
}
.blog-photo-3{
    grid-area:1/4/1/4;
    width: 100%;
    height:100%;
}
.blog-photo-4{
    grid-area:2/1/2/2;
    width: 100%;
    height:100%;
}
.blog-photo-5{
    grid-area:2/4/2/2;
    width: 100%;
    height:100%;
}
.blog-photo-6{
    grid-area:4/4/2/4;
    width: 100%;
    height:100%;
}
/* Конец пятой страницы */
.footer{
    margin-top:198px;
    max-width: 100%;
    background-color:#1A3E3E;
}
.newsletter {
    background-color: whitesmoke;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    transform: translateY(-80px);
}
.newsletter-subtitle{
    color:green;
}
.newsletter-title{
    color:black;
    width:500px;
    font-weight: bold;
}
.newsletter-item:last-child{
    color: black;
    font-size:small;
    margin-top: 10px;
}
.e-mail{
    color:black;
    font-weight: bold;
    margin-bottom: 10px;
}
.input-email:focus {
    outline: 0;
}
.input-email{
  border-radius:10px;
  border: 1px solid #eee;
  transition: .3s border-color;
  padding: 20px;
}
.invalid{
  border-radius:10px;
  border: 1px solid #ff0000;
  transition: .1s border-color;
  padding: 20px;
}
.valid{
  border-radius:10px;
  border: 1px solid #00ff40;
  transition: .1s border-color;
  padding: 20px; 
}
.e-mail-button{
    background-color:#1A3E3E;
    padding:20px;
    color: white;
    border-radius: 1em;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.site-footer{
    padding-top: 40px;
    display:flex;
    justify-content: space-between;
}
.footer-text-aboutcomp{
    width:500px;
    height:auto;
}
.footer-info{
    margin-bottom:90px;
}
.tel-link{
    margin-bottom:40px;
}
.footer-link{
    color:white;
}
.socialweb{
    margin-right: 15px;
}
.footer-items{
    margin-bottom: 20px;
}
.footer-links{
    color:white;
    text-decoration: none;
    font-size:16px;
}
.footer-links:hover{
    color:green;
}

/* 1400px */
@media screen and (max-width:1400px){
    .blog-wrap {
    flex-wrap: wrap;}
}



/* 1024px */
@media screen and (max-width: 1024px) {
    .about-tour-media{
        margin-bottom: 30%;
    }
}
.grid-imgs {
    grid-template-rows: repeat(2,240px);
}
.footer-text-aboutcomp {
    padding: 0% 10% 0% 0;
}
.our-services{
    flex-basis: 40%;
}



/* 991px */
@media screen and (max-width: 991px) {
.menu {
    font-size: 14px;
}
.dropdown {
    padding: 15px;
    gap: 10px;}
.about-tour-media {
    flex-direction: column;
    margin-bottom: 0;
}
.text-about-tour {
    margin: 40% 0 auto;
    align-self:center;
}
    .about-tour2-wrapp {
    margin-top: 15%;
    flex-direction: column;
    gap: 35px;  
    align-items: center;
}
.kartinkigrid {
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(2,55%);
    grid-gap: 15px;
}
.about-img {
    position: relative;
    padding-left: 5%;
}
.japimg {
    height: 480px;
    width: 420px;}
    .about-video {
    height: 480px;
    width: 420px;}
    .tours-item{
        width:100%;
    }
    .tours-list{
        flex-wrap: wrap;
        gap: 50px;
    }
    .blog-subtitle {
    margin-top: 15%;}
    .grid-imgs {
    grid-template-rows: repeat(2,220px);
}
    .newsletter{
        flex-direction: column;
    }
    .newsletter-e-mail{
        text-align: center;
    }
    .newsletter-subtitle-wrapp{
        text-align: center;
    }
    .site-footer {
    flex-direction: column;
}
    .footer-text-aboutcomp {
    padding: 0 0 5% 0;
}
}


/* 768px */
@media screen and (max-width: 768px) {
.dropdown {
    grid-template-columns: auto;
}
.whiteborder {
    padding: 3%;
    }
.about {
    margin-top: 40%;
}
.japimg{
    width:305px;
    height:350px;
}
.about-video{
    width:305px;
    height:350px;
}
}

/* 520px */
@media screen and (max-width: 520px) {
.dropdown {
    grid-template-columns: auto;
}
.whiteborder {
    padding: 3%;
}
.about {
    margin-top: 350px;}
.about-img {
    position: relative;
}
.japimg {
    height: 265px;
    width: 230px;}
    .about-video {
    height: 265px;
    width: 230px;
    top: 120px;
    left: 110px;}
    .newsletter-title{
        width:auto;
    }
    .footer-text-aboutcomp{
        width: auto;
    }
    .blog-title {
    font-size: 200%;
    }
    .blog-content{
        flex-direction: column;
    }
    .blog-img {
    width:auto;}
    .blog-photo-1,.blog-photo-2,.blog-photo-3,.blog-photo-4,.blog-photo-5,.blog-photo-6{
    grid-area:auto;
}
    .grid-imgs {
    grid-template-columns: auto;
    grid-template-rows: auto;}
}


/* 425px */
@media screen and (max-width: 425px) {
    .about-img{
        padding-left:0;
    }
    .blog-img {
    width:auto;
    }
    .japimg {
    height: 230px;
    width: 200px;
}
.about-video{
    height: 230px;
    width: 200px;}
.tours-title{
    font-size:200%;
}
}


/* 320px */
@media screen and (max-width: 320px) {
    .japimg {
    height: 175px;
    width: 155px;}
    .about-video {
    height: 175px;
    width: 155px;}
    .tours-title{
    font-size: 250%;
    }
}